<div class="row barcos">
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 barco">
    <div class="card mx-auto hover" style="width: 23rem">
      <img src="img/Barco7/Sea_Ray_50_pies9.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <p>Sea Ray 50 pies</p>
          </div>
          <div class="col-6 text-center">
            <a
              class="btn btn-outline-primary boton detallesA"
              data-id="7"
              href="#!"
              role="button"
              >Detalles</a
            >
          </div>
          <div class="col-6 text-center">
            <button class="btn btn-outline-primary boton">Alquilar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 barco">
    <div class="card mx-auto hover" style="width: 23rem">
      <img src="img/Barco8/Sea_Ray_Deportivo_55_pies6.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <p>Sea Ray Deportivo 55 pies</p>
          </div>
          <div class="col-6 text-center">
            <a
              class="btn btn-outline-primary boton detallesA"
              data-id="8"
              href="#!"
              role="button"
              >Detalles</a
            >
          </div>
          <div class="col-6 text-center">
            <button class="btn btn-outline-primary boton">Alquilar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 barco">
    <div class="card mx-auto hover" style="width: 23rem">
      <img src="img/Barco9/Náutica_48_pies9.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <p>Náutica 48 pies</p>
          </div>
          <div class="col-6 text-center">
            <a
              class="btn btn-outline-primary boton detallesA"
              data-id="9"
              href="#!"
              role="button"
              >Detalles</a
            >
          </div>
          <div class="col-6 text-center">
            <button class="btn btn-outline-primary boton">Alquilar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 barco">
    <div class="card mx-auto hover" style="width: 23rem">
      <img src="img/Barco10/Striker_52_pies.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <p>Striker 52 pies</p>
          </div>
          <div class="col-6 text-center">
            <a
              class="btn btn-outline-primary boton detallesA"
              data-id="10"
              href="#!"
              role="button"
              >Detalles</a
            >
          </div>
          <div class="col-6 text-center">
            <button class="btn btn-outline-primary boton">Alquilar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 barco">
    <div class="card mx-auto hover" style="width: 23rem">
      <img src="img/Barco11/Velero_Clásico_54_pies1.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <p>Velero Clásico 54 pies</p>
          </div>
          <div class="col-6 text-center">
            <a
              class="btn btn-outline-primary boton detallesA"
              data-id="11"
              href="#!"
              role="button"
              >Detalles</a
            >
          </div>
          <div class="col-6 text-center">
            <button class="btn btn-outline-primary boton">Alquilar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 barco">
    <div class="card mx-auto hover" style="width: 23rem">
      <img src="img/Barco12/Sunseeker_74_pies2.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <p>Sunseeker 74 pies</p>
          </div>
          <div class="col-6 text-center">
            <a
              class="btn btn-outline-primary boton detallesA"
              data-id="12"
              href="#!"
              role="button"
              >Detalles</a
            >
          </div>
          <div class="col-6 text-center">
            <button class="btn btn-outline-primary boton">Alquilar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 barco">
    <div class="card mx-auto hover" style="width: 23rem">
      <img src="img/Barco13/Hatteras_76_pies8.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <p>Hatteras 76 pies</p>
          </div>
          <div class="col-6 text-center">
            <a
              class="btn btn-outline-primary boton detallesA"
              data-id="13"
              href="#!"
              role="button"
              >Detalles</a
            >
          </div>
          <div class="col-6 text-center">
            <button class="btn btn-outline-primary boton">Alquilar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 barco">
    <div class="card mx-auto hover" style="width: 23rem">
      <img src="img/Barco14/Bertram_64_pies4.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <p>Bertram 64 pies</p>
          </div>
          <div class="col-6 text-center">
            <a
              class="btn btn-outline-primary boton detallesA"
              data-id="14"
              href="#!"
              role="button"
              >Detalles</a
            >
          </div>
          <div class="col-6 text-center">
            <button class="btn btn-outline-primary boton">Alquilar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 barco">
    <div class="card mx-auto hover" style="width: 23rem">
      <img src="img/Barco15/Ocean_42_pies1.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <p>Ocean 42 pies</p>
          </div>
          <div class="col-6 text-center">
            <a
              class="btn btn-outline-primary boton detallesA"
              data-id="15"
              href="#!"
              role="button"
              >Detalles</a
            >
          </div>
          <div class="col-6 text-center">
            <button class="btn btn-outline-primary boton">Alquilar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 barco">
    <div class="card mx-auto hover" style="width: 23rem">
      <img src="img/Barco16/Sunseeker_44_pies7.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <p>Sunseeker 44 pies</p>
          </div>
          <div class="col-6 text-center">
            <a
              class="btn btn-outline-primary boton detallesA"
              data-id="16"
              href="#!"
              role="button"
              >Detalles</a
            >
          </div>
          <div class="col-6 text-center">
            <button class="btn btn-outline-primary boton">Alquilar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mostrar_alquiler">
  <button class="btn btn-primary" id="menos_alquiler">Mostrar menos</button>
</div>
