<div class="row barcos">
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 barco">
    <div class="card mx-auto hover" style="width: 23rem">
      <img src="img/yate3.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <p>Nombre Yate</p>
          </div>
          <div class="col-6 text-center">
            <a
              class="btn btn-outline-primary boton detallesV"
              href="#!"
              data-id="7"
              role="button"
              >Detalles</a
            >
          </div>
          <div class="col-6 text-center">
            <button class="btn btn-outline-primary boton">Alquilar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 barco">
    <div class="card mx-auto hover" style="width: 23rem">
      <img src="img/yate3.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <p>Nombre Yate</p>
          </div>
          <div class="col-6 text-center">
            <a
              class="btn btn-outline-primary boton detallesV"
              href="#!"
              data-id="8"
              role="button"
              >Detalles</a
            >
          </div>
          <div class="col-6 text-center">
            <button class="btn btn-outline-primary boton">Alquilar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 barco">
    <div class="card mx-auto hover" style="width: 23rem">
      <img src="img/yate3.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <p>Nombre Yate</p>
          </div>
          <div class="col-6 text-center">
            <a
              class="btn btn-outline-primary boton detallesV"
              href="#!"
              data-id="9"
              role="button"
              >Detalles</a
            >
          </div>
          <div class="col-6 text-center">
            <button class="btn btn-outline-primary boton">Alquilar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 barco">
    <div class="card mx-auto hover" style="width: 23rem">
      <img src="img/yate3.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <p>Nombre Yate</p>
          </div>
          <div class="col-6 text-center">
            <a
              class="btn btn-outline-primary boton detallesV"
              href="#!"
              data-id="10"
              role="button"
              >Detalles</a
            >
          </div>
          <div class="col-6 text-center">
            <button class="btn btn-outline-primary boton">Alquilar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 barco">
    <div class="card mx-auto hover" style="width: 23rem">
      <img src="img/yate3.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <p>Nombre Yate</p>
          </div>
          <div class="col-6 text-center">
            <a
              class="btn btn-outline-primary boton detallesV"
              href="#!"
              data-id="11"
              role="button"
              >Detalles</a
            >
          </div>
          <div class="col-6 text-center">
            <button class="btn btn-outline-primary boton">Alquilar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 barco">
    <div class="card mx-auto hover" style="width: 23rem">
      <img src="img/yate3.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <p>Nombre Yate</p>
          </div>
          <div class="col-6 text-center">
            <a
              class="btn btn-outline-primary boton detallesV"
              href="#!"
              data-id="12"
              role="button"
              >Detalles</a
            >
          </div>
          <div class="col-6 text-center">
            <button class="btn btn-outline-primary boton">Alquilar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mostrar_alquiler">
  <button class="btn btn-primary" id="menos_venta">Mostrar menos</button>
</div>
